n8n/Restaurant_automation_project/n8n_with_omar
{
  "name": "n8n with omar",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "62579ffe-9df6-4b26-8cf6-4e7f1bef6798",
      "name": "Telegram Trigger",
      "webhookId": "6d4ac04a-7e1c-47e6-b85e-08ad5e0b6be3",
      "credentials": {
        "telegramApi": {
          "id": "Il8lPeqSED4rsLqG",
          "name": "salat_stock"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "result = []\nmessage  = _items[0][\"json\"][\"message\"][\"text\"].split(\",\")\nfor unit in message :\n  i = unit.strip().split(\" \")\n  result.append({\n    \"json\" : {\n      \"name\" : i[0] , \n      \"number\" : int(i[1])\n    }\n  })\nreturn result\n  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ef68420f-744b-4eda-b0b0-19331b530ac3",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Item",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "f53df123-bc21-4b8b-ae35-33ebdc557537",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Number": "={{ $json.Number  +$('Code in Python').item.json.number }}",
            "ID": "={{ $json.ID }}",
            "Item": "={{ $json.Item }}",
            "Unit": "={{ $json.Unit }}"
          },
          "matchingColumns": [
            "Item"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        0
      ],
      "id": "572dfa23-6596-4fd7-9664-4d8d3c1ecd2e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=you added  {{ $json.Item }} to your stock and  now you have {{ $json.Number }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "ffca924c-c3a8-4a76-b337-a0ea5df51912",
      "name": "Send a text message",
      "webhookId": "590f2e03-b0de-491f-99d2-bae5adc06bf2",
      "credentials": {
        "telegramApi": {
          "id": "Il8lPeqSED4rsLqG",
          "name": "salat_stock"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "salta_orders",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Item",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Burger "
                  },
                  {
                    "option": "Burger with Cheese"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "phone",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -16,
        224
      ],
      "id": "9af178ab-d768-4859-98d6-39a44efaa239",
      "name": "On form submission",
      "webhookId": "dd5039c7-ec64-426a-8466-3d52fec02fb5"
    },
    {
      "parameters": {
        "chatId": "7386362755",
        "text": "=Hi,Sponge we have a new order\norder id : {{ $json.Last_number + 1 }}\nItem : {{ $('On form submission').item.json.Item }}\nName : {{ $('On form submission').item.json.Name }}\nPhone : {{ $('On form submission').item.json.phone }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        176
      ],
      "id": "5b35318a-4347-44b4-87bf-b2d07c8a8a82",
      "name": "Send a text message1",
      "webhookId": "cc32b504-9997-4b83-8671-141fd38cfaf4",
      "credentials": {
        "telegramApi": {
          "id": "Ag81wg8Koj2dATvW",
          "name": "salat_order"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('On form submission').item.json.submittedAt }}",
            "Item": "={{ $('On form submission').item.json.Item }}",
            "For": "={{ $('On form submission').item.json.Name }}",
            "Status": "in kitchen",
            "Order_Number": "={{ $json.Last_number + 1}}",
            "Phone": "={{ $('On form submission').item.json.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order_Number",
              "displayName": "Order_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        352
      ],
      "id": "25730c93-da13-425f-9a6d-22c72fbb1e3b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1962414957,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=1962414957"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        224
      ],
      "id": "9d18db4c-9cc1-494a-91c7-9f717427a08d",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1fd115c2-c611-4281-9855-ba590d8c2626"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03b76e61-80ac-4147-b140-fe14a0a2af8f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        352,
        704
      ],
      "id": "1f14d36c-375c-4fa1-93d8-dabb07f221a4",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        704
      ],
      "id": "fd8f873f-1b91-44c0-8f99-d1b51e2212bb",
      "name": "Telegram Trigger1",
      "webhookId": "4ffb86cb-0024-461d-a19d-d5bb0bc6ee0f",
      "credentials": {
        "telegramApi": {
          "id": "Ag81wg8Koj2dATvW",
          "name": "salat_order"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1962414957,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=1962414957"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last_number": "={{ $('Get row(s) in sheet1').item.json.Last_number + 1}}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Last_number",
              "displayName": "Last_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        352
      ],
      "id": "6d3355f0-dae5-49cc-9deb-14e8c8b638e7",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_Number": "={{ $('Code in Python1').item.json.order_number }}",
            "Status": "={{ $('Code in Python1').item.json.status }}"
          },
          "matchingColumns": [
            "Order_Number"
          ],
          "schema": [
            {
              "id": "Order_Number",
              "displayName": "Order_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        592
      ],
      "id": "00e868c1-1f88-450a-ba2f-649a7ad4f5ab",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "content = _items[0][\"json\"][\"message\"][\"text\"]\nsplitting = content.strip().split(\" \")\nreturn {\n  \"order_number\" : splitting[0] , \n  \"status\" : splitting[1]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        704
      ],
      "id": "99de423c-d291-449b-8b67-a495e9281749",
      "name": "Code in Python1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_Number": "={{ $('Code in Python1').item.json.order_number }}",
            "Status": "={{ $('Code in Python1').item.json.status }}"
          },
          "matchingColumns": [
            "Order_Number"
          ],
          "schema": [
            {
              "id": "Order_Number",
              "displayName": "Order_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "For",
              "displayName": "For",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        896
      ],
      "id": "36628559-d119-4122-9134-11617b2f01b0",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        544
      ],
      "id": "8c41aa89-5d87-47eb-9e9e-c1397e875545",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67db3b71-8f71-40f6-8811-92527d509add",
              "leftValue": "={{ $json.Item }}",
              "rightValue": "Cheese",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        944
      ],
      "id": "d412f51d-a1be-49d0-9df6-017e59f1aa81",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Number": "={{ $json.Number - 1}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        544
      ],
      "id": "9bd72f23-fcd6-48bc-828a-22ff9d9e85b1",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        736
      ],
      "id": "39e88e6f-38b8-4568-9e89-9eb92cd619da",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Number": "={{ $json.Number - 2}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        736
      ],
      "id": "42742c75-ca15-46f8-8835-4a2559940dad",
      "name": "Update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk",
          "mode": "list",
          "cachedResultName": "order spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mHT1XX6NMB__L4-EbW7mERep7ueiqrfBOwFF3x4alsk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Order_Number",
              "lookupValue": "={{ $json.Order_Number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        944
      ],
      "id": "b7813ff8-9ebd-403a-99b0-c9a8c25f8810",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "3",
            "Number": "={{ $json.Number - 1}}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item",
              "displayName": "Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1744,
        864
      ],
      "id": "8a8d9907-8718-4310-9306-785e08665ee0",
      "name": "Update row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog",
          "mode": "list",
          "cachedResultName": "stock spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pdSpJ5mN0xsL9Ux3NHZlxr6fD68jZb01gF49tJgmwog/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        864
      ],
      "id": "c735fd96-f37c-4b69-9a1d-cc2ca34f17f1",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jipjDicLqioLtQtP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Code in Python1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "11965b5c-3726-42f2-a13b-e65132874da4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2974f51c0654cb46d3974040e2a4c28bda38c5c4ba7e2c7c7eb134392cac3779"
  },
  "id": "zQhrnKr8v1F9V5X9",
  "tags": [
    {
      "updatedAt": "2026-05-29T21:29:29.758Z",
      "createdAt": "2026-05-29T21:29:29.758Z",
      "id": "VkM8YbCYGpc6yn7Q",
      "name": "page"
    }
  ]
}
